SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here
SENTRY_DSN=your-sentry-dsn-here
R2_PUBLIC_URL=your-r2-public-url-here


# supabase_pw = 482s1gFtZ7h4dpkL
# Public_Development_URL = https://pub-90c2c5ad0e2c4508b8f998789b56ac64.r2.dev
# account_id = 0877ffc889b12088e83663068c37554a
# access_key_id = c765478df9e64c01b5627ad6f13f8ee8
# secret_access_key = ff7c230eccd44a40f5731b92d7724ffc618eb0fb63207b305b9fa1d0ea27830b